extends ../layout

block content
  .page-header
    h3 Kullanıcı Girişi
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') E-Posta
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='E-Posta', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Şifre
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Şifre', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Giriş
        a.btn.btn-link(href='/forgot') Şifrenizi mi unuttunuz?
    .form-group
      .col-sm-offset-3.col-sm-7
        hr