.media
    .media-left.media-middle
        a(href='#')
            img.media-object(src='http://www.w3schools.com/css/img_fjords.jpg', alt='Generic placeholder image')
    .media-body
form
    input(type='button', value='Geri Git', onclick='history.go(-1);return true;')
